<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>[[[page:title()]]]</title>
<!-- <link rel='stylesheet' href='plugins/jquery-ui/css/jquery-ui-1.10.0.custom.min.css' type='text/css' media='screen' charset='utf-8'> -->
<link rel='stylesheet' type='text/css' media='screen' href='/static/nitrogen/nitrogen.css' />
<!-- <script src='/static/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script> -->
<!-- <script src='/plugins/jquery-ui/js/jquery-ui-1.10.0.custom.min.js' type='text/javascript' charset='utf-8'></script> -->
<!-- <script src='/static/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script> -->
<script src='/static/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
<!-- <script src='/static/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script> -->
</head>
  <body>
    [[[page:layout()]]]
    <script>
      [[[script]]]
    </script>
  </body>
</html>
