{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "ec_web", "1",
        [
         kernel,
         stdlib,
         sasl,
	 mnesia,
	 mochiweb,	 
	 nitrogen_core,
	 nprocreg,
	 simple_bridge,
	 sync,
	 ec_cli,
	 view
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib,
	 ec_cli
        ]},
       {boot_rel, "ec_web"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, log4erl, [{incl_cond, include},
        {mod, mochinum, [{incl_cond, exclude}]}]},	
       {app, mochiweb, [{incl_cond, include}]},
       {app, nitrogen_core, [{incl_cond, include},
	 {mod, mochinum, [{incl_cond, exclude}]},	
         {mod, mochiglobal, [{incl_cond, exclude}]},
	 {mod, mochijson2, [{incl_cond, exclude}]}]},
       {app, nprocreg, [{incl_cond, include}]},
       {app, simple_bridge, [{incl_cond, include}]},
       {app, sync, [{incl_cond, include}]},
       {app, ec_cli, [{incl_cond, include}]},
       {app, ec_web, [{mod_cond, ebin}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "ec_web"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/ec_web", "bin/ec_web"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
