[

 {ec_web, [{bind_address,"0.0.0.0"},
                    {port,8000},
                    {server_name,web},
		    {logs_root, "/home/ubuntu/Development/ec12/rel/ec12"},
                    %%{master_name, 'ec_master@rs.home'}
		    {master_name, 'ec_master@rs.home'}
		    ]},

 {ec_dispatcher, [
		  {log4erl_config, "etc/log4erl.conf"},
		  {slots, 50}
		 ]},

 {resource_discovery, [
		       %{contact_nodes, ['ec_master@rs.home']},
		       {contact_nodes, ['ec_master@rs.home']},
		       {heartbeat_frequency, 60000}
		      ]}
].

